* {
  box-sizing: border-box;
  font-size: 32px;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: min(100%, 1144px);
}
header {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  align-items: center;
  padding: 2rem;
}
.btn {
  all: unset;
  background-color: rgb(83, 83, 253);
  color: snow;
  height: 1.5rem;
  padding: 10px 10px;
  border-radius: 6px;
}
.author {
  opacity: 0.7;
  font-size: 0.8rem;
  padding-left: 1rem;
}
.quote {
  padding-left: 0.8rem;
}
